<div class="card bg-light">
  <div class="card-body">
    <div id="<%= dom_id restaurant %>">
      <p class="card-title">
        <strong>Name:</strong>
        <%= restaurant.name %>
      </p>

      <p class="card-text">
        <strong>Address:</strong>
        <%= restaurant.address %>
      </p>

      <p class="card-text">
        <strong>Phone number:</strong>
        <%= restaurant.phone_number %>
      </p>

      <p class="card-text">
        <strong>Category:</strong>
        <%= restaurant.category %>
      </p>

    </div>
  </div>
</div>
